@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.heading-2 {
  @apply text-center text-lg font-bold;
}
.heading-3 {
  @apply text-center text-base font-bold;
}

.scale-img {
  @apply scale-90 hover:scale-105 ease-in duration-500;
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}
